<div
  class="container w-100 bg-primary text-white text-center p-3"
  style="height: 7vh; max-width: 100%"
>
  <h1>Basic Budget App</h1>
</div>

<div class="m-0 d-flex">
  <div class="container border p-3" style="width: 15%; height: 93vh">
    <div class="heading mt-3"><h3>Months</h3></div>
    <div class="vstack gap-2 mt-3">
      <!-- todo play with active class for click events and default -->
      <button *ngFor="let m of months; index as i" class="btn btn-primary">
        {{ m }}
      </button>
    </div>
  </div>

  <div class="card w-100 m-3 p-3">
    <div class="card-heading"><h3>Expenses</h3></div>
    <div class="card-body ps-0 pe-2">
      <div class="row">
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <div class="container border border-primary rounded-2">
                <h4>Monthly Payments</h4>
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th class="text-end">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let payment of payments">
                      <td>{{ payment.description }}</td>
                      <td class="text-end">
                        {{ payment.amount | currency: "R" }}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Sub Total</td>
                      <td class="text-end">
                        {{ paymentSubTotal | currency: "R" }}
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <div class="col-12 mt-3">
                <div class="container border border-primary rounded-2">
                  <h4>Monthly Budgets</h4>

                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th class="text-end">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let budget of budgets">
                        <td>{{ budget.description }}</td>
                        <td class="text-end">
                          {{ budget.amount | currency: "R" }}
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="table-group-divider">
                        <td>Sub Total</td>
                        <td class="text-end">
                          {{ budgetSubTotal | currency: "R" }}
                        </td>
                      </tr>
                      <tr class="table-group-divider">
                        <td>Extra Money after budgets</td>
                        <td class="text-end">
                          {{ paymentSubTotal - budgetSubTotal | currency: "R" }}
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-9 border border-primary rounded-2">
          <div class="card-heading">
            <h4>Budgets</h4>
          </div>

          <div class="container-fluid border">
            <div class="row">
              <div class="col-md-3">
                <table class="table table-striped table-hover">
                  <thead>
                    <h4>Groceries</h4>
                    <tr>
                      <th>Description</th>
                      <th class="text-end">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of groceriesFiltered">
                      <td>{{ item.description }}</td>
                      <td class="text-end">
                        {{ item.amount | currency: "R" }}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="table-group-divider">
                      <td>Sub Total</td>
                      <td class="text-end">
                        {{ groceriesTotal | currency: "R" }}
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <div class="col-md-3">
                <table class="table table-striped table-hover">
                  <thead>
                    <h4>Fuel</h4>
                    <tr>
                      <th>Description</th>
                      <th class="text-end">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Caltex</td>
                      <td class="text-end">R640</td>
                    </tr>
                    <tr>
                      <td>BP</td>
                      <td class="text-end">R720</td>
                    </tr>
                    <tr class="table-group-divider">
                      <td>Sub Total</td>
                      <td class="text-end">{{ 640 + 720 | currency: "R" }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
